<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography</title>
    <link rel="stylesheet" href="typography.css" />
    <link rel="stylesheet" href="/utility.css" />
  </head>
  <body>
    <h2>Different types of heading</h2>
    <div class="example-div alert-box">
      <h1 class="h1">Heading 1</h1>
      <h2 class="h2">Heading 2</h2>
      <h3 class="h3">Heading 3</h3>
      <h4 class="h4">Heading 4</h4>
      <h5 class="h5">Heading 5</h5>
      <h6 class="h6">Heading 6</h6>
    </div>
    <h2>Extra styles</h2>
    <div class="example-div alert-box">
      <p class="gray-text">This is a gray text.</p>
      <p class="text-strike">This text has a line going through it.</p>
      <p class="text-underline">This text is underlined.</p>
      <p class="small-text">This is a small text</p>
    </div>

    <h2>Alignments</h2>

    <div class="example-div alert-box">
      <div class="align-box align-left">I am a left aligned text</div>
      <div class="align-box align-center">I am a centered text</div>
      <div class="align-box align-right">I am a right aligned text</div>
    </div>
  </body>
</html>
