.badge-wrapper {
  width: max-content;
  position: relative;
}
.badge {
  width: 12px;
  height: 12px;

  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.online {
  background-color: var(--success-color);
}
.offline {
  background-color: var(--danger-color);
}
.badge-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--danger-color);
  top: -10px;
  right: -10px;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 900;
  color: white;
}
