<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <script
      src="https://kit.fontawesome.com/fd368707ae.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../utility.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="./grid.css" />
  </head>
  <body>
    <div class="container">
      <header class="header pd-02">
        <a href="/index.html" class="header-logo">FootyUI</a>
        <nav class="navbar">
          <ul class="nav-pills">
            <li>
              <a
                href="https://github.com/Aazam10/component-library"
                target="_blank"
                ><i class="fa fa-2x fa-github nav-icon" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="doc-container">
        <div class="sidebar">
          <!-- USAGE LIST START -->
          <div class="sidebar-main-topic">Getting Started</div>
          <ul class="sidebar-sub-topic">
            <li><a href="/usage/usage.html">Usage</a></li>
          </ul>

          <!-- Components List Start -->
          <div class="sidebar-main-topic">Components</div>
          <ul class="sidebar-sub-topic">
            <li><a href="../Avatar/avatar.html">Avatar</a></li>
            <li>
              <a href="../Alert/alert.html">Alert</a>
            </li>
            <li><a href="../Badges/badge.html">Badge</a></li>
            <li><a href="../Button/button.html">Button</a></li>
            <li><a href="../Card/card.html">Card</a></li>
            <li><a href="../image/image.html">Image</a></li>
            <li><a href="../input/input.html">Input</a></li>
            <li><a href="../typography/typography.html">Typography</a></li>
            <li>
              <a href="../toast/toast.html">Toast</a>
            </li>
            <li>
              <a href="../list/list.html">List</a>
            </li>
            <li>
              <a href="../ratings/ratings.html">Ratings</a>
            </li>
            <li>
              <a href="../Modal/modal.html">Modal</a>
            </li>
            <li>
              <a href="../Grid/grid.html" class="sidebar-active">Grid</a>
            </li>
          </ul>
        </div>
        <div class="doc-content">
          <div class="doc-content-title">Grid</div>
          <div class="doc-content-desc">
            Grid helps in dividing a page in several parts and display
            components in that specific part. It makes dividing a page in
            several parts very easy.
          </div>
          <div class="doc-line"></div>

          <div class="doc-content-subtitle">Simplified Grid</div>
          <div class="doc-content-desc">
            To use the Simplified Grid you just need to add class name grid to
            the container or parent element, followed by varient name: grid-2,
            grid-3
          </div>

          <h2>2 item simplified grid</h2>

          <div class="example-div">
            <div class="grid-wrapper">
              <div class="grid grid-2">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="card-title pd-side-05 margin-y-05">
                        Grid Item 1
                      </div>
                      <div class="card-subtitle pd-side-05">
                        Card Subheading
                      </div>
                    </div>
                  </div>
                  <div class="card-text pd-side-05 margin-y-05">Main Text</div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="card-title pd-side-05 margin-y-05">
                        Grid Item 2
                      </div>
                      <div class="card-subtitle pd-side-05">
                        Card Subheading
                      </div>
                    </div>
                  </div>
                  <div class="card-text pd-side-05 margin-y-05">Main Text</div>
                </div>
              </div>
            </div>
          </div>
          <h2>3 item simplified grid</h2>
          <div class="example-div">
            <div class="grid-wrapper">
              <div class="grid grid-3">
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="card-title pd-side-05 margin-y-05">
                        Grid Item 1
                      </div>
                      <div class="card-subtitle pd-side-05">
                        Card Subheading
                      </div>
                    </div>
                  </div>
                  <div class="card-text pd-side-05 margin-y-05">Main Text</div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="card-title pd-side-05 margin-y-05">
                        Grid Item 2
                      </div>
                      <div class="card-subtitle pd-side-05">
                        Card Subheading
                      </div>
                    </div>
                  </div>
                  <div class="card-text pd-side-05 margin-y-05">Main Text</div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-text">
                      <div class="card-title pd-side-05 margin-y-05">
                        Grid Item 3
                      </div>
                      <div class="card-subtitle pd-side-05">
                        Card Subheading
                      </div>
                    </div>
                  </div>
                  <div class="card-text pd-side-05 margin-y-05">Main Text</div>
                </div>
              </div>
            </div>
          </div>

          <!-- IFRAME -->

          <div class="code-snippet-sm">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=--Two%2520Items%2520In%2520a%2520Grid%250A%253Cdiv%2520class%253D%2522grid%2520grid-2%2522%253E%250A%2520%2520%253Cdiv%253EChild%25201%2520%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%253EChild%25202%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A--Three%2520Items%2520In%2520a%2520Grid%250A%253Cdiv%2520class%253D%2522grid%2520grid-3%2522%253E%250A%2520%2520%253Cdiv%253EChild%25201%2520%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%253EChild%25202%2520%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%253EChild%25203%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="doc-line"></div>

          <!-- FOOTER -->

          <footer class="footer">
            <div class="footer-prev-page">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--grommet-icons"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  d="M15 6l-6 6l6 6"
                ></path>
              </svg>
              <a href="../Modal/modal.html">Modal</a>
            </div>
            <div class="footer-next-page">
              <a href="../Navbar/navbar.html">Navbar</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--ic"
                width="1em"
                height="1em"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path
                  d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
