@import url("/components/Card/card.css");

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  width: 10rem;
}
.grid-wrapper {
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .card {
    max-width: min-content;
  }
}
