* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --success-color: #4caf50;
  --danger-color: #d31609;
  --primary-color: #4895ef;
  --warning-color: #ff9800;
}
.example-div {
  margin: 1rem;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.alert-box {
  flex-direction: column;

  gap: 1rem;
  margin: 1rem;
}
.pd-side-05 {
  padding: 0rem 0.5rem;
}
.margin-y-05 {
  margin: 0.5rem 0rem;
}
