.toast {
  display: flex;

  width: 15rem;
  min-width: max-content;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  gap: 3rem;

  margin-left: 1rem;
}

.sucess {
  background-color: var(--success-color);
  justify-content: space-between;
}

.failure {
  background-color: var(--danger-color);
}

.toast-action {
  color: var(--white-color);
  font-weight: 600;
}

.toast-action:hover {
  cursor: pointer;
}

.toast-close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.toast-close:hover {
  cursor: pointer;
}
