.list-title {
  padding: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.list li {
  font-size: 13px;
  list-style: none;
  padding: 0.7rem 1.1rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.list .spaced-list:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/* Stacked List */

.list-stacked {
  background-color: white;
  padding: 1.5rem 1rem;
}

.list-stacked li {
  margin: 0.5rem 0rem;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.list-stacked li:hover {
  cursor: pointer;
  color: black;
}
