* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.alert-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  gap: 1rem;
  margin: 1rem;
}
.alert {
  width: 100%;

  padding: 1rem 1.5rem;
  color: white;
  border-radius: 5px;
  opacity: 0.9;
  margin: 0.5rem 0;
}

.error {
  background-color: #f44336;
}
.success {
  background-color: #4caf50;
}
.warning {
  background-color: #ff9800;
}
.outline-success {
  border: 1px solid #4caf50;
  background-color: white;
  color: #4caf50;
}
.outline-error {
  border: 1px solid #f44336;
  background-color: white;
  color: #f44336;
}
.outline-warning {
  border: 1px solid #ff9800;
  background-color: white;
  color: #ff9800;
}
