.alert {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 5px;
  opacity: 0.9;
  margin: 0.5rem 0;
}
.primary {
  background-color: #4895ef;
}
.error {
  background-color: var(--danger-color);
}
.success {
  background-color: var(--success-color);
}
.warning {
  background-color: #ff9800;
}
.outline-primary {
  border: 1px solid #4895ef;
  background-color: white;
  color: #4895ef;
}
.outline-success {
  border: 1px solid var(--success-color);
  background-color: white;
  color: var(--success-color);
}
.outline-error {
  border: 1px solid var(--danger-color);
  background-color: white;
  color: var(--danger-color);
}
.outline-warning {
  border: 1px solid #ff9800;
  background-color: white;
  color: #ff9800;
}
